@page "/mycart"
<SectionContent SectionName="page-buttons">
    <div id="searchBox" class="input-group header-search" style="display:none;">
        <span class="input-group-text text-warning"><i class="fa fa-search"></i></span>
        <input id="txtSearch" type="text" class="form-control" placeholder="Search" value="" />
        <span class="input-group-text" onclick="hideSearchBox()"><i class="fa fa-times"></i></span>
    </div>
    <span id="controlBox">
        <button class="btn text-warning" onclick="history.back()">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="btn text-warning">
            <i class="fa fa-search"></i>
        </button>
    </span>
</SectionContent>
@* <section>
    <h2>My Cart</h2>
    <div class="landscape-menulist">
        @foreach (var itm in Model.Items4Checkout)
        {
            <div class="menuitem">
                <img src="/ProductPhotos/@(itm.ID).jpg" />
                <h3>@itm.Name</h3>
                <h5>@itm.Description</h5>
                <h4>P@(itm.Price)</h4>
                <div class="menuitem-actions">
                    <a class="menuitem-add" href="/productitem?productid=@itm.ID">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        }
    </div>
    <div>
        <table style="width:100%">
            <tr>
                <td>Total Item(s):</td>
                <td>@Model.Order.Total</td>
            </tr>
            <tr>
                <td>Delivery Fee</td>
                <td>P @DeliveryFee</td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>@Model.FullPrice</td>
            </tr>
        </table>
    </div>
    <button type="submit" class="btn btn-warning scaledbutton">
        <i class="fas fa-cash-register"></i>&nbsp;Proceed to Payment
    </button>
</section> *@
